body{
    background-color: #e1e3e6;
}

button, select{appearance: none; -webkit-appearance: none; font-family: inherit;}

#cell-chk{max-width: 600px; margin: auto; background-color: #fff;  padding-bottom: 60px; padding-top: calc(50px + 10px + 3rem); min-height: 100vh;}

header{position: fixed; top: 0; left: 50%; width: 100%; max-width: 600px; background-color: #fff; transform: translateX(-50%); padding: 10px 15px; display: flex; align-items: center; height: 70px; border-bottom: 1px solid #eee; z-index: 6}

.logo-btn{display: block; height: 30px;}
.logo-btn img{height: 100%;}

.header-btn-group{margin-left: auto; display: flex; gap: 8px; align-items: center;}
.header-btn{font-size: 16px;}
.header-select{padding: 4px 16px 4px 6px; border: 1px solid #ddd; border-radius: 6px; background-image: url('/img/ico-arr-right.png'); background-position: calc(100% - 10px / 2) center; background-repeat: no-repeat; background-size: 6px; font-size: 14px;}

.cell-item:first-child{margin-top: -24px;}
.cell-item{padding: 24px 15px; position: relative;}
.cell-item + .cell-item::before{content:''; position: absolute; top: 0; left: 15px; right: 15px; height: 1px; background-color: #ddd;}
.cell-item .cell-subject{display: flex; align-items: flex-end;}
.cell-item .cell-subject .subject-txt{font-size: 24px; font-weight: 700; margin-right: 2px;}
.cell-item .cell-subject .cell-statue,
.cell-item .cell-subject .cell-perc{font-size: 12px; margin-left: 4px; color: #777;}
.cell-item.cell-warn{background-color: #f1f1f1;}
.cell-item.cell-warn .cell-subject,
.cell-item.cell-warn .cell-subject .cell-statue,
.cell-item.cell-warn .cell-subject .cell-perc{color: #e06666;}
.cell-item.cell-warn .cell-subject .cell-statue,
.cell-item.cell-warn .cell-subject .cell-perc{font-size: 16px;}
.cell-item .cell-desc{font-size: 16px; margin-top: 4px;}
.cell-item .cell-chk-wrapper{display: flex; align-items: flex-end; overflow: hidden; position: relative; margin-top: 12px;}
.cell-item .cell-chk-wrapper::before{content: ''; display: block; position: absolute; left: 0; right: 0; top: 0; height: 0; background-image: linear-gradient(to bottom, #ffffff 0%, transparent 100%); transition:height 0.3s}
.cell-item.cell-warn .cell-chk-wrapper::before{background-image: linear-gradient(to bottom, #f1f1f1 0%, transparent 100%);}
.cell-item .cell-chk-wrapper.misted::before{height: 50px;}
.cell-item .cell-chk-list{display: flex; flex-flow: row wrap; gap: 8px 4px; width: 100%;}
.cell-item .cell-chk-list .cell-chk-item{width: calc((100% - 4px * 2) / 3);}
.cell-item .cell-chk-list .cell-chk-item.cell-false{color:#ccc}
.cell-item .cell-chk-list .cell-chk-item .cell-chk-inn{display: flex;}
.cell-item .cell-chk-list .cell-chk-item .cell-chk-head{font-size: 16px; font-weight: 600; white-space: nowrap; width: 50%;}
.cell-item .cell-chk-list .cell-chk-item .cell-chk-desc{font-size: 14px;}
.cell-item .toggle-chk{margin-top: 12px; font-weight: 700; font-size: 16px;}